<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
    <body>
        <%- include("../partials/navigation") %>

        <h4><%= student ? student.username : 'New Student' %></h4>

        <form method="POST">
            
            <div>
                <label>Name:</label><br />
                <input name="name" value="<%= student ? student.name : '' %>"  required />
            </div>
            <br />
            <div>
                <label>Surname:</label><br />
                <input name="surname" value="<%= student ? student.surname : '' %>"  required />
            </div>
            <br />
            <div>
                <label>Age:</label><br />
                <input name="age" type="number" value="<%= student ? student.age : '' %>" required />
            </div>
            <br />
            <div>
                <label>Gender:</label><br />
                <select name="gender" value="<%= student ? student.gender : 'male' %>" required>
                    <option value="male">male</option>
                    <option value="female">female</option>
                </select>
            </div>
            <br />
            <button type="submit" style="color: green"><%= student ? 'Update' : 'Add' %> Student</button>
        </form>
    </body>
</html>